---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block modules %}
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
<link href="css/app.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin out-->
<div class="out">
	<!--begin post-->
	<div class="post">
		{% include "partials/_content.html" %}
	</div>
	<!--end post-->
	
</div>
<!--end out-->
{% include "partials/_footer.html" %}


<amp-sidebar id="sidebar" class="sidebar"
layout="nodisplay"
side="left">
<button  on="tap:sidebar.close"
class="ampstart-btn sidebar__close caps m2">X</button>
<!-- begin sidebar__wrapper -->
<div class="sidebar__wrapper">
	<div class="slangs">
		<a class="slangs__item is-active" href="#">укр</a>
		<a class="slangs__item" href="#">рос</a>
		<a class="slangs__item" href="#">eng</a>
	</div>
	<ul class="main-menu">
		<li class="main-menu__item"><a href="#" class="main-menu__link">НОВИНИ</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">ПУБЛІКАЦІЇ</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">КОЛОНКИ</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">ІНТЕРВ'Ю</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">ГРАФІКА</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">ФОТО І ВІДЕО</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">БЛОГИ</a></li>
		<li class="main-menu__item"><a href="#" class="main-menu__link">АРХІВ</a></li>
	</ul>
	<ul class="second-menu">
	<li class="second-menu_item"><a href="#" class="second-menu__link second-menu__link--spec">УКРАЇНСЬКА ПРАВДА</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ЕКОНОМІЧНА ПРАВДА</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ЖИТТЯ</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ЄВРОПЕЙСЬКА ПРАВДА</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">БЛОГИ</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ІСТОРИЧНА ПРАВДА</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">CHAMPION.COM.UA</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">КИЇВ</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ТАБЛОID</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">БЖ</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ДОСТУП ДО ПРАВДИ</a></li>
		<li class="second-menu_item"><a href="#" class="second-menu__link">ФОРУМ</a></li>
	</ul>
</div>
<!-- end sidebar__wrapper -->
</amp-sidebar>

{% endblock %}
