	<!--begin main-content-->
	<div class="main-content">
		<!--begin layout-->
		<div class="layout">
			<h1 class="post__title">Хроніка 7 квітня. Юрі — волю, політикам — бочки</h1>
			<p class="post__author"><a href="#">РУСТЕМ ХАЛІЛОВ</a></p>
			<p class="post__img-author">ВЛАДИСЛАВ СКОБЕЛЬСЬКИЙ, ДЛЯ УП</p>
			<div class="post__info info-block">
				<span class="info-block__date">П'ятниця, 7 квітня 2017, 09:00</span>
				<div class="info-block__stat">
					<span>6724 ПЕРЕГЛЯДИ</span>
					<a href="#" class="info-block__stat-link">0</a>
				</div>
			</div>
			<div class="post__socials">
				<a href="#" class="post__social"><amp-img src="img/fb.svg" height="16" width="16" alt="alt"></amp-img><span>24</span></a>
				<a href="#" class="post__social"><amp-img src="img/google.svg" height="16" width="16" alt="alt"></amp-img><span>0</span></a>
				<a href="#" class="post__social"><amp-img src="img/vk.svg" height="16" width="16" alt="alt"></amp-img><span>2</span></a>
				<a href="#" class="post__social"><amp-img src="img/tw.svg" height="16" width="16" alt="alt"></amp-img><span>1</span></a>
			</div>
			<!--begin post__text-->
			<div class="post__text">
				<blockquote>
					<p><strong>Найцікавіше:</strong></p>
					<p><strong>2013. Луценко на волі</strong></p>
					<p><strong>2014. Палають Харків, Донецьк, Луганськ та Миколаїв</strong></p>
					<p><strong>2015. Україна отримала Суспільне мовлення</strong></p>
				</blockquote>
				<p></p>
				<p><strong>2001, субота</strong></p>
				<p>– Опозиція провела збори Форуму національного порятунку, на якому вирішили готуватися до всеукраїнського <a href="#">референдуму про недовіру</a> президентові Кучмі. Також прийняте рішення: у майбутньому не вести жодних перемовин з Кучмою.</p>
				<p>Був на Форумі і посол США Карлос Паскуаль, який агітував за <strong>Ющенка</strong>, і напередодні звіту українського уряду наголосив на необхідності <a href="#">відновлення консенсусу</a> між урядом, парламентом та президентом.</p>
				<p><em>Форум був створений за два місяці до цього. <a href="">Його мета:</a> усунення президента Кучми та перетворення України на парламентську республіку.</em></p>
				<p></p>
				<p><strong>2003, понеділок</strong></p>
				<p>– Міністр економіки <strong>Валерій Хорошковський</strong> і глава МЗС <strong>Анатолій Зленко</strong> виступили зі спільною заявою, що формування Єдиного економічного простору країн СНД не повинне перешкоджати якнайшвидшому вступу України до СОТ.</p>
				<p><em>У лютому Путін, Кучма, Лукашенко й Назарбаєв домовилися створити Організацію регіональної інтеграції, яка повинна функціонувати на базі "Єдиного економічного простору". В Росії заявили, що й вступ до СОТ цих країн має бути синхронізованим.</em></p>
				<p>– Глава Сумської ОДА і нардеп <strong>Володимир Щербань</strong> написав заяву про відставку. Щербань пройшов у Верховну Раду в складі "Нашої України" і є депутатом-сумісником.</p>
				<p></p>
				<p><strong>2004, середа</strong></p>
				<p>– Верховна Рада визначилася: довгоочікуване <a href="">голосування за політреформу</a> відбудеться завтра. Зміни до Конституції ухвалюватимуться у цілому без постатейного обговорення.</p>
				<p>Напередодні голосування президент Леонід Кучма <a href="">зустрівся з лідерами</a> лояльних до нього фракцій, щоб ще раз підкреслити доцільність проведення політичної реформи.</p>
				<p>– ЦИТАТА ДНЯ: "Той, хто не працював у владі, не розуміє до кінця процедур і системи повноважень влади. Все бачать збоку. Це все рівно, що молодий хлопчик знає: секс ‑ це добре. Але він не знає насправді, що це є, до того часу, як не спробує".</p>
				<p>Керівник фракції СДПУ(о) <a href="#"><strong>Леонід Кравчук</strong> запевняє</a>, що не всі депутати усвідомлюють суть політичної реформи.</p>
				<p></p>
				<p><strong>2005, четвер</strong></p>
				<p>– Після затримання глави Донецької облради <strong>Бориса Колесникова</strong> міністр МВС Юрій Луценко пообіцяв, що не зупиниться на цьому, і по цій справі <a href="#">будуть затримані</a> інші "досить відомі особи".</p>
				<p>– ЦИТАТА ДНЯ: "Ми обрали ринковий шлях розвитку. Натомість, вибачте, у мене складається таке враження, що ми будуємо соціалізм".</p>
				<p><a href="#"><strong>Леонід Кучма</strong></a> про перші зміни в країні після Помаранчевої революції.</p>
				<p></p>
				<p><strong>2006, п’ятниця</strong></p>
				<p>– Екс-мер Києва <strong>Олександр Омельченко</strong> звернувся до суду, щоб <a href="#">скасувати результати</a> виборів міського голови. Він вважає, що його суперник Леонід Черновецький виграв нечесно. "На мій погляд, ми з Віталієм Володимировичем Кличком грали в шахи по телефону, пан Черновецький грав у карти міченою колодою", – <a href="#">заявив</a> Омельченко.</p>
				<p>Тим часом в Комітеті виборців України розповіли, що прохідне місце у списку до Київради для людині зі сторони <a href="#">коштувало півмільйона доларів</a>.</p>
				<p>– Верховний Суд не <a href="#">реабілітував</a> учасників масових заворушень 9 березня 2001 року. Тоді після акцій проти президента Кучми міліція затримала близько 200 осіб, частині з них присуджено адміністративне покарання.</p>
				<p>– Для голови "Нафтогазу" <a href="#">Олексія Івченка</a> придбали "Мерседес" S-класу за мільйон гривень, з'ясувала "Українська правда".</p>
				<p></p>
				<p><strong>2007, субота</strong></p>
				<p>"Кто шагает дружно в ряд – Януковича отряд. Это мы, это мы – Януковича орлы". З цим та іншими гаслами <a href="#">прихильники коаліції</a>, що протестують проти проведення перевиборів у парламент, провели мітинг в Києві на Майдані Незалежності, а потім пікетували будинок ЦВК.</p>
				<p></p>
				<p><strong>2008, понеділок</strong></p>
				<p>– "Ти ж розумієш, Джордж, що Україна – це навіть не держава! Що таке Україна? Частина її територій – це Східна Європа, а частина, і значна, подарована нами!" Співрозмовник російського "Комерсанта" переказав <a href="#">слова Володимира Путіна</a> Джорджу Бушу на закритому засіданні ради Росія-НАТО. За словами співрозмовника, Путін фактично пригрозив вторгненням в Україну, якщо держава буде на порозі приєднання до НАТО.</p>
				<p>– Екс-суддя Конституційного Суду <a href="#"><strong>Сюзанна Станік</strong> заявила</a>, що тимчасово відкликає свої підписи під документами КС за останні 4 роки. Так Станік відреагувала на те, що Ющенко скасував указ Кучми про її призначення суддею КС.</p>
				<p><em>Скандал навколо Станік почався ще у 2007 році, коли у питанні правомочності розпуску президентом Ющенком Верховної Ради, вона фактично опинилась на боці коаліції, яка хотіла визнання указу незаконним.</em></p>
				<p>– Лідер КПУ <strong>Петро Симоненко</strong> заявив, що від комуністів до Київради йде настоятель Києво-Печерської Лаври владика Павло, який посідає 3 місце у списку.</p>
				<p>Пізніше з'ясується, що Павло таки йде у міськраду, але від Партії регіонів.</p>
				<p></p>
				<p><strong>2009, вівторок</strong></p>
				<p>– 90% українців <a href="#">ставляться до Росії</a> добре й дуже добре. Такі результати опитування оприлюднив Київський міжнародний інститут соціології.</p>
				<p>Водночас, за результатами опитування Аналітичного центру Юрія Левади, 49% росіян ставляться до України погано й дуже погано.</p>
				<p>– Міністр МВС Юрій Луценко має <a href="#">спростувати інформацію</a> про причетність регіонала <strong>Бориса Колеснікова</strong> до скоєння злочину. Таке рішення прийняв Печерський райсуд Києва. Мова йде про заяви Луценка, зроблені ним в 2005 році, коли він звітував перед Верховною Радою з приводу затримання Колеснікова по справі "Білого лебедя".</p>
				<p>– Українська влада не зробила все можливе <a href="#">для розкриття справи</a> про вбивство журналіста Георгія Гонгадзе і покарання винних – таку думку висловила співдоповідачка моніторингової групи ПАРЄ Сабіне Лойтхойзер-Шнарренбергер.</p>
				<p>– ЦИТАТА ДНЯ: "У нас політики – це як вірменська баня. Усі прикриті ззаду цими бочками і всі бояться митися. Всі ходять по цій бані, ніхто не починає процесу".</p>
				<p><a href="#"><strong>Юрій Луценко</strong></a> про бездіяльність політиків.</p>
				<p></p>
				<p><strong>2010, середа</strong></p>
				<p>– Стало відомо, що напередодні Конституційний Суд <a href="#">легалізував коаліцію тушок</a>, визнавши право депутатів входити до коаліції, навіть якщо їх фракція до неї не входить. За словами регіоналів, зараз у коаліції більшості – 240 нардепів.</p>
				<p>– <strong>Ігор Коломойський</strong> цілком придбав "Студію 1+1". Американська медіакорпорація Central European Media Enterprises заявила про закриття угоди щодо продажу українських активів за $308 млн. До них входять в тому числі й "плюси".</p>
				<p>– ЦИТАТА ДНЯ: "Я являлся сторонником коалиции с Партией регионов и заявлял об этом публично. Напомню, что и сама Юлия Владимировна выступала сторонником коалиции с Партией регионов. Это было всего год назад!"</p>
				<p>Новий заступник голови Адміністрації президента <a href="#"><strong>Андрій Портнов</strong></a>, який до призначення був одним з найпомітніших членів команди Тимошенко, розказує про взаємодію політичних сил і своє ставлення до коаліції між БЮТ та ПР.</p>
				<p></p>
				<p><strong>2011, четвер</strong></p>
				<p>– Верховна Рада ухвалила в цілому головну антикорупційну ініціативу президента Віктора Януковича – законопроект "Про засади запобігання і протидії корупції в Україні".</p>
				<p>– Президент виступив зі щорічним зверненням у парламенті, у якому допустив пакетну угоду <a href="#">щодо Митного союзу</a> за формулою "3+1". Причому, суть пропозиції "+1" він не уточнив.</p>
				<p>– В Росії заявили, що у разі вступу до Митного союзу Україна могла б <a href="#">економити на газі</a> близько $8 мільярдів на рік.</p>
				<p></p>
				<p><strong>2012, субота</strong></p>
				<p>– Партія "Фронт змін" прийняла рішення сформувати <a href="#">єдиний список кандидатів</a> у народні депутати з "Батьківщиною" та іншими опозиційними силами, якщо ті до них приєднаються.</p>
				<p>Згідно закону, блоки не можуть приймати участь у виборах, тому "фронтовикам" прийдеться змінити свої партійні квітки.</p>
				<p></p>
				<p><strong>2013, неділя</strong></p>
				<p>– Екс-глава МВС <strong>Юрій Луценко</strong> <a href="#">вийшов на волю</a>.</p>
				<p>
					<amp-youtube width="480"
					height="270"
					layout="responsive"
					data-videoid="OEsOnYW6tTw"></amp-youtube>
				</p>
				<p>Янукович підписав указ про помилування Луценка та екс-міністра охорони навколишнього природного середовища Георгія Філіпчука.</p>
				<p>У цей день опозиція проводила акцію "Вставай, Україно!" в Києві. Луценко на акцію не встиг, але виступив перед її учасниками по телефону.</p>
				<p><em>У 2012 році Луценка засудили на 4 роки, звинувативши у перевищенні службових повноважень та нецільовому використанні державних грошей. 2014 року Печерський райсуд скасував усі вироки, визнав Луценка несудимим і повністю відновив у правах.</em></p>
				<p></p>
				<p><strong>2014, понеділок</strong></p>
				<p>– У Харкові сепаратисти увійшли у вестибюль обладміністрації й оголосили рішення про <a href="#">створення Харківської народної республіки</a>. До вечора з будівлі їх витіснили, але вони оточили ХОДА і почали палити шини.</p>
				<p>– У Донецьку сепаратисти <a href="#">захопили будівлю СБУ</a>, згодом її звільнили. Зі сцени, встановленої на сходинках Донецької ОДА, протестувальники оголосили про створення <a href="#">Донецької республіки</a> та її "входження" до складу РФ.</p>
				<amp-img src="img/img1.jpg" height="920" width="690" alt="alt" layout="responsive"></amp-img>
				<p>– У Луганську <a href="#">захопили будівлю СБУ</a> і повісили над нею російський прапор. Будівлю ОДА закрили й опечатали. В СБУ заявили про <a href="#">затримання росіянина</a>, який координував акцій сепаратистів у Луганську.</p>
				<p>– У Миколаєві прихильники проросійських сепаратистських мітингів <a href="#">зібралися біля ОДА</a>. Увечері вони зіткнулися з активістами Самооборони Майдану та Народного ополчення, які <a href="#">витіснили</a> їх з території.</p>
				<p>– Увечері в.о. президента <strong>Олександр Турчинов</strong> заявив про підготовку до <a href="#">антитерористичних заходів</a>.</p>
				<p>
					<amp-youtube width="480"
					height="270"
					layout="responsive"
					data-videoid="hhDp2lkzcxQ"></amp-youtube>
				</p>
				<p>– У ніч з 6 на 7 квітня в Криму російській військовий через особисту неприязнь <a href="#">застрелив українського офіцера</a>, майора Станіслава Карачевського.</p>
				<p></p>
				<p><strong>2015, вівторок</strong></p>
				<p>– В Україні стартувало <a href="#">Суспільне мовлення</a>. Президент Петро Порошенко підписав відповідний закон перед журналістами, після чого гендиректор НТКУ <strong>Зураб Аласанія</strong> запустив Суспільне мовлення в прямий ефір.</p>
				<p>– Парламент визнав українських добровольців <a href="#">учасниками бойових дій</a>. Також Верховна Рада надала право встановлення статусу інваліда війни безпосереднім учасникам АТО.</p>
				<p>– Міліція Києва розслідує закупку <a href="#">керівництвом "Укртранснафти"</a> сирої нафти в офшорної компанії з Кіпру, яка, за даними УП, була пов'язана з групою "Приват" Ігоря Коломойського. За твердженням МВС, за нафту було переплачене понад 35 млн грн.</p>
				<p>Раніше, у березні, наглядова рада "Укртранснафти" прийняла рішення про відсторонення Олександра Лазорко від виконання обов'язків голови правління.</p>
				<p>– Компартія оголосила про наміри провести <a href="#">першотравневий марш</a> в Києві за участю комуністів із різних країн світу.</p>
				<p></p>
				<p><strong>2016, четвер</strong></p>
				<p>– На <a href="#">референдумі в Нідерландах</a> більша частина з тих громадян, що прийшли на виборчі дільниці, проголосувала проти ратифікації Угоди про асоціацію Україна-ЄС. "Якщо підсумки референдуму залишаться такими, як сьогодні, то ми не можемо продовжити ратифікацію Угоди про асоціацію з Україною", – заявив прем'єр-міністр Нідерландів Марк Рютте.</p>
				<p>– Екс-нардеп від БЮТ <a href="#"><strong>Віктор Лозінський</strong></a> вийшов із в'язниці. Суд застосував до нього умовно-дострокове звільнення. Лозинському перерахували термін за "Законом Савченко".</p>
				<p><em>У 2011 році Лозинського засудили на 15 років за вбивство жителя Кіровоградщини Валерія Олійника. Згодом термін скоротили до 10 років.</em></p>
				<p><em>Рустем Халілов, для УП</em></p>
				<p></p>
			</div>
			<!--end post__text-->
			<p class="post__tags">ТЕМИ: <a href="#">УКРАЇНА XXI</a></p>
			<p class="post__note">Якщо ви знайшли помилку, видiлiть її мишкою та натисніть Ctrl+Enter.</p>
			<div class="post__socials post__socials-footer">
				<a href="#" class="post__social post__social-footer"><amp-img src="img/fb.svg" height="16" width="16" alt="alt"></amp-img><span>24</span></a>
				<a href="#" class="post__social post__social-footer"><amp-img src="img/google.svg" height="16" width="16" alt="alt"></amp-img><span>0</span></a>
				<a href="#" class="post__social post__social-footer"><amp-img src="img/vk.svg" height="16" width="16" alt="alt"></amp-img><span>2</span></a>
				<a href="#" class="post__social post__social-footer"><amp-img src="img/tw.svg" height="16" width="16" alt="alt"></amp-img><span>1</span></a>


			</div>
			<!--begin similar-->
			<div class="similar">
				<p class="similar__title block-title">ПО ТЕМІ</p>
				<amp-list layout="responsive" width="400" height="80" layout="fixed-height" src="https://api.myjson.com/bins/11gs4b" credentials="include">
					<template type="amp-mustache">
						<div class="similar-article">
							<a href="{{url}}" class="similar-article__title"></a>
							<span class="similar-article__date">{{date}}</span>
						</div>
					</template>
				</amp-list>
			</div>
			<!--end similar-->
			<!--begin comments-block-->
			<div class="comments-block">
				<a class="comments-block__title block-title" href="#">КОМЕНТАРІ — 0</a>
				<div class="comments-block__auth">
					<a class="comments-block__auth-btn" href="#">авторизуйтесь</a>ЩОБ ПИСАТИ КОМЕНТАРІ
				</div>
			</div>
			<!--end comments-block-->

		</div>
		<!--end layout-->
		<!--begin other-articles-->
		<div class="other-articles">
			<div class="layout">
				<p class="other-articles__title block-title">ВИБІР РЕДАКТОРА</p>
				<div class="other-article other-articles__item">
					<amp-img class="other-article__img" src="img/other1.jpg" height="170" width="275" alt="alt" layout="responsive"></amp-img>
					<a class="other-article__title" href="#">Як ми втрачали Крим. Свідчення перших осіб України</a>
					<p class="other-article__info">10 КВІТНЯ 2017, 16:00 — ОКСАНА КОВАЛЕНКО</p>
				</div>
				<div class="other-article other-articles__item">
					<amp-img class="other-article__img" src="img/other2.jpg" height="170" width="275" alt="alt" layout="responsive"></amp-img>
					<a class="other-article__title" href="#">Годівничка для міністрів. Що записано в деклараціях чиновників</a>
					<p class="other-article__info">7 КВІТНЯ 2017, 13:08 — РОМАН РОМАНЮК, РОМАН КРАВЕЦЬ</p>
				</div>
				<div class="other-article other-articles__item">
					<amp-img class="other-article__img" src="img/other3.jpg" height="170" width="275" alt="alt" layout="responsive"></amp-img>
					<a class="other-article__title" href="#">Один день з прем’єр-міністром. Як Володимир Гройсман майже рік очолює уряд, і що з цього виходить</a>
					<p class="other-article__info">6 КВІТНЯ 2017, 12:00 — МАРІЯ ЖАРТОВСЬКА, ДМИТРО ЛАРІН, УП</p>
				</div>
				<div class="other-article other-articles__item">
					<amp-img class="other-article__img" src="img/other4.jpg" height="170" width="275" alt="alt" layout="responsive"></amp-img>
					<a class="other-article__title" href="#">Красногорівка: скільки коштує комуналка на передовій</a>
					<p class="other-article__info">27 БЕРЕЗНЯ 2017, 14:59 — ЛЕСЯ ГАНЖА</p>
				</div>
			</div>
		</div>
		<!--end other-articles-->

	</div>
	<!--end main-content-->
