<footer class="footer">
	<div class="layout">
		<div class="copyright">
			<p>&copy;2000-2017, Українська правда. Використання матеріалів сайту лише за умови посилання (для інтернет-видань - гіперпосилання) на «Українську правду».</p>
			<p>
				<a class="copyright__logo" href="#"><amp-img src="img/copy-logo.png" height="29" width="66" alt="alt"></amp-img></a>Будь-яке копiювання, публiкацiя, передрук чи наступне поширення iнформацiї, що мiстить посилання на «Iнтерфакс-Україна», суворо забороняється. Передрук, копіювання або відтворення інформації, яка містить посилання на агентство «Українські Новини», в будь-якому вигляді суворо заборонено
			</p>
		</div>
		<div class="footer-info">
			<amp-img class="footer-info__img" src="img/footer-hors.svg" height="131" width="84" alt="alt"></amp-img>
			<div class="footer-info__contacts">
				<p>Засновник проекту: Георгій Гонгадзе</p>
				<p>Головний редактор: <a href="mailto:#">Севгіль Мусаєва-Боровик</a></p>
				<p>Редактор-засновник: <a href="mailto:#">Олена Притула</a></p>
				<p>E-mail редакції: <a href="mailto:#">editor@pravda.com.ua</a></p>
				<p>Webmaster: <a href="mailto:#">webmaster@pravda.com.ua</a></p>
			</div>
			<div class="footer-info__menu">
				<a href="#">РЕКЛАМА НА САЙТІ</a>
				<a href="#">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
				<a href="#">ПРАВИЛА ВИКОРИСТАННЯ МАТЕРІАЛІВ "УКРАЇНСЬКОЇ ПРАВДИ"</a>
				<a href="#">#MEDIAHUB</a>
			</div>
		</div>
		<div class="fsocials">
			<a href="#" class="fsocials__item"><amp-img src="img/fb.svg" height="16" width="16" alt="alt"></amp-img><span>537,2к</span></a>
			<a href="#" class="fsocials__item"><amp-img src="img/vk.svg" height="16" width="16" alt="alt"></amp-img><span>137,2к</span></a>
			<a href="#" class="fsocials__item"><amp-img src="img/tw.svg" height="16" width="16" alt="alt"></amp-img><span>337,2к</span></a>
		</div>
	</div>
</footer>