
<header class="header">
	<div class="header__inner">
		<div class="htopline">
			<div class="menu-btn">
				<div class="menu-btn__inner">
					<span></span>
				</div>
			</div>
			<div class="header__logo">
				<amp-img src="img/logo.svg" height="40" width="200" alt="alt"></amp-img>
			</div>
			<div class="htopline__right">
				<amp-img src="img/search.svg" alt="alt"  width="20" height="20"></amp-img>
				<amp-img src="img/user.svg" alt="alt"  width="20" height="20"></amp-img>
			</div>
		</div>
		<amp-img class="header__main-img"  src="img/header-bg.jpg" alt="alt" height="457" width="768" layout="responsive"></amp-img>
	</div>
</header>
