.header
	position: relative
	margin-bottom: 30px
	&__logo
		display: inline-block
		svg
			font-size: 34px
			fill: #ddd
	&__main-img
		position: relative
		z-index: 1
		&:before
			+coverdiv
			background: #000
			opacity: .2
			content: ''
			z-index: 2
.htopline
	position: absolute
	padding: 5px 2.5% 0
	width: 100%
	top: 0
	left: 0
	z-index: 3
	text-align: center
	&__right
		float: right
		margin-top: 11px
		amp-img
			margin-right: 20px
			cursor: pointer
			&:last-of-type
				margin-right: 0
			+r(600)
				margin-right: 0
				&:last-of-type
					display: none
.menu-btn
	position: relative
	display: inline-block
	vertical-align: bottom
	width: 25px
	height: 14px
	overflow: visible
	cursor: pointer
	text-align: left
	float: left
	margin-top: 12px
	background: transparent
	appearance: none
	&:before
		top: -10px
		left: -10px
		bottom: -10px
		right: -10px
		content: ''
		position: absolute
	&__inner
		height: 100%
		width: 100%
		span
			height: 2px
			width: 25px
			background: #fff
			position: absolute
			top: 50%
			margin-top: -1px
			transition: all .2s
		&:before, &:after
			transition: all .3s
			content: ''
			position: absolute
			height: 2px
			width: 25px
			background: #fff
			left: 0
		&:before
			top: 0px
			//transform-origin: top left
		&:after
			bottom: 0px
			//transform-origin: bottom left
//.menu-btn-is-active
//	//+r(767)
//	div
//		opacity: 0
//		&:before, &:after
//			width: 20px
//		&:before
//			transform: translateX(6px) rotate(45deg)
//		&:after
//			transform: translateX(6px) rotate(-45deg)